h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray !important;
    opacity: 0.6;
}
.not{
    text-decoration: underline;
}
.high { 
    background: #ffe5e5;
    border-left: 4px solid #ff4d4d;
}
.normal {
    background: #fffbea;
    border-left: 4px solid #ffd24d;
}
.low { 
    background: #e8fff0;
    border-left: 4px solid #4dd18f;
}

